extensions:
  Memio\SpecGen\MemioSpecGenExtension: ~
  PhpSpecCodeCoverage\CodeCoverageExtension:
    format:
      - clover
    whitelist:
      - src/
    output:
      clover: coverage.clover

suites:
    default: ~

#    email:
#        namespace: 'InFw\Email'
#        src_path: packages/email/src
#        spec_path: packages/email
